@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background: tomato;
}

header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}
.logo h1{
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    color: tomato;
    margin-left: 20px;
}
nav ul {
    display: flex;
    gap: 25px;
    margin-right: 20px;
}
nav ul li{
    cursor: pointer;
    list-style: none;
    font-weight: 500;
    transition: 0.5s ease;
}
nav ul li a {
    transition: 0.5s ease;
    text-decoration: none;
    color: black;
}
nav ul li a:hover {
    color: tomato;
}
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    max-width: 450px;
    width: 100%;
    background-color: white;
    box-shadow: 0 10px 30px rgb(0, 0, 0, 0.6);
    border-radius: 10px;
}
h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: tomato;
    letter-spacing: 0.6rem;
}
.form-group {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
}
.form-group input {
    padding: 10px;
    border: 2px solid rgb(177, 177, 177);
    outline: none;
    width: 100%;
    border-radius: 5px;
}
.form-group input:focus {
    border: 2px solid tomato;
}
.form-group label {
    min-width: 70px;
    font-weight: 500;
}
button {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    background: tomato;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}
button:hover {
    background: rgb(255, 69, 36);
}


@media (max-width: 768px) {
    .logo h1, h1 {
        font-size: 3rem;
    }
    .form-group {
        font-size: 0.8rem;
    }
    .form-group {
        flex-direction: column;
        align-items: start;
    }
}
@media (max-width: 350px) {
    .logo h1, h1 {
        font-size: 2rem;
    }
}